Integrated Email System/WindowsBasedEmailClient/Service References/IntegratedEmailService/IntegratedEmail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntegratedEmailService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntegratedEmailService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51879/IntegratedEmail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51879/IntegratedEmail.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" />
  <xs:simpleType name="EmailProviderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Gmail" />
      <xs:enumeration value="Yahoo" />
      <xs:enumeration value="Hotmail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmailProviderType" nillable="true" type="tns:EmailProviderType" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceFault" nillable="true" type="tns:ServiceFault" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceFault" nillable="true" type="tns:ArrayOfServiceFault" />
  <xs:complexType name="ServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFault" nillable="true" type="tns:ServiceFault" />
  <xs:complexType name="ArrayOfEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.Mail" minOccurs="0" name="Attachments" nillable="true" type="q1:ArrayOfAttachment" />
      <xs:element minOccurs="0" name="BCC" nillable="true" type="tns:ArrayOfContact" />
      <xs:element minOccurs="0" name="CC" nillable="true" type="tns:ArrayOfContact" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
</xs:schema>