Integrated Email System/MvcApplication1/Service References/IntegratedService/IntegratedEmail5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Net.Mail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51879/IntegratedEmail.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
  <xs:import schemaLocation="http://localhost:51879/IntegratedEmail.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mime" />
  <xs:complexType name="ArrayOfAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachment" nillable="true" type="tns:ArrayOfAttachment" />
  <xs:complexType name="Attachment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AttachmentBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="NameEncoding" nillable="true" type="q1:Encoding" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Attachment" nillable="true" type="tns:Attachment" />
  <xs:complexType name="AttachmentBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentId" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net.Mime" minOccurs="0" name="ContentType" nillable="true" type="q2:ContentType" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net.Mime" minOccurs="0" name="TransferEncoding" type="q3:TransferEncoding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentBase" nillable="true" type="tns:AttachmentBase" />
</xs:schema>